// Base
@import "./base/reset";


// Variables globales
$primary-color: #42b983;
$secondary-color: #35495e;
$text-color: #333;
$background-color: #f9f9f9;

// Mixins
@mixin border-radius($radius) {
  border-radius: $radius;
}

// Estilos globales
body {
  font-family: 'Arial', sans-serif;
  color: $text-color;
  background-color: $background-color;
  margin: 0!important;
  padding: 0;
}

// Estilos para el contenedor principal
.container {
  width: 80%;
  margin: 0 auto;
}

// Estilos de botones
button {
  @include border-radius(5px);
  border: none;
  cursor: pointer;
}

button.primary {
  background-color: $primary-color;
  color: white;
}

button.secondary {
  background-color: $secondary-color;
  color: white;
}
