/* ===================== AJUSTES GENERALES ===================== */
* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none; 
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

// Global variables
$primary-color: #0074FF;
$secondary-color: #EBF1FF;
